<div class="col-md-6 col-lg-4 mb-5">
    <div class="portfolio-item mx-auto">
        <a href="{{ "./article?id=" ~ article.id }}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                </div>
            </div>
        </a>
        <h2>{{ article.title }}</h2><br>
        <p><span>{{ article.header }}</span></p>
        <div style="display: flex; justify-content: space-between">
            <h5>Modifié le {{ article.updatedAt|date("d/m/Y") }}</h5>
            <div class="comments" style="">
                <i class="fa-solid fa-comment"></i>
                {{ comments.NumberOfCommentsByArticle(article.id) }}
            </div>
        </div>
    </div>
</div>
