{% extends "/admin/template.html.twig" %}
{% block main %}
    <!-- Portfolio Section-->
    Google
    leaner php

    Tous

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Gestion des
                commentaires</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TITRE</th>
                    <th scope="col">CHAPÔ</th>
                    <th scope="col">CONTENU</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">CREATEUR</th>
                    <th scope="col">ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <form method="post" action="article/edit">
                            <td>{{ article.id }}</td>
                            <td>{{ article.title }}</td>
                            <td><p>{{ article.header|length > 150 ? article.header|raw|slice(0, 150) ~ '...' : article.header|raw }}</p></td>
                            <td><p>{{ article.content|length > 150 ? article.content|raw|slice(0, 150) ~ '...' : article.content|raw }}</p></td>
                            <td>
                                {{ article.status }}
                            </td>
                            {% set user = users.UserById(article.userId) %}
                            <td>{{ user.firstname ~ " " ~ user.lastname }}</td>
                            <td>
                                <button type="submit" style="border: none; background: none"><i class ="fa-solid fa-pen-to-square fa-xl me-2" style="margin-right: 0!important;"></i></button>
                                <button type="button" id="delete" style="border: none; background: none" onclick="deleteConfirmation({{ article.id }})"><i class="fa-solid fa-trash fa-xl me-2" style="margin-right: 0!important;"></i></button>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        function deleteConfirmation(id) {
            let validation;
            validation = confirm('Confirmez la suppression ');
            if (validation === true) {
                document.location.href="article/delete?id="+ id;
            }
        }
    </script>
{% endblock %}


